{% extends "menu.html" %}

{% block meta %}<link rel="stylesheet" type="text/css" href="/static/css/record-hike.css"> {% endblock %}

{% block content %}
    <div class="container" style="padding: 20px">
      <form action = "http://localhost:5000/result" method = "POST">
       <div class="form-row align-items-center">

            <div class="col-auto">
              <label class="sr-only" for="inlineFormInput">FirstName</label>
              <input name="First Name" type="text" class="form-control mb-2" id="inlineFormInput" placeholder="First Name">
            </div>

            <div class="col-auto">
              <label class="sr-only" for="inlineFormInput">LastName</label>
              <input name="Last Name" type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Last Name">
            </div>
       </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" value="Submit">Save My Location</button>
    </div>
      </form>
   </div>
{% endblock %}

